<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
     <php>
        <env name="SOCIAL_POST_RESPONSE_PATH" value="./tests/data/social-posts-response.json"/>
        <env name="SOCIAL_POST_MONTH" value="November, 2021"/>
        <env name="USER_PER_MONTH_EXPECTED_MEAN" value="3.17" />
    </php>
</phpunit>
